@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&family=Ibarra+Real+Nova:wght@500&family=Poppins:wght@200;300;500;600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

body{
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}
